.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 100px auto 100px;
}

.side-bar {
  background-color: plum;
}

.right-side-bar {
  background-color: violet;
}

.header {
  grid-column: 1/4;
  background-color: teal;
}

.footer {
  grid-column: 1/4;
  background-color: burlywood;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* 100vh; */
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 1px;
  background-color: silver;
  border: 1px silver solid;
}

.grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
