.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 1px;
  background-color: silver;
  border: 1px silver solid;
}

.grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
